/.gradle/
/dependency-source-checkouts/
/build/
/kotlin-compiler/kotlin-compiler-before-rewrite.jar

# If build.gradle.kts is opened with IntelliJ, these may get added, but we don't use them.
/.idea/
/gradle/wrapper/
/local.properties
/gradlew
/gradlew.bat

